.navbar {
  background-color: #0d6efd;
  font-family: 'The Nautigal', cursive;
  color: yellow;
  font-size: 70px;
}
.margin {
  padding: 30px;
}

.quem-somos {
  background-color: yellow;
}
section {
  min-height: 100vh;
  padding-top: 3rem;
}
